<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zay Shop - Product Detail Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/img/apple-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
</head>
<body>
	<div class="container my-5">
	<h1 class="text-center mb-5">[[${session.userId}]]장바구니</h1>
		<table class="table">
			<thead>
				<tr>
					<th>선택</th>
					<th>이미지</th>
					<th>상품이름</th>
					<th>상품설명</th>
					<th>가격</th>
					<th>
					<i class="fa-solid fa-circle-minus"></i>
						개수
					</th>
					<th>총가격</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cart : ${cartList}">
					<td><input type="checkbox" name="selectCartList" th:value="${cart.cartId}"></td>
					<td><img style="width:100px" th:src="@{/file/{id}(id=${cart.ImageId})}"></td>
					<td>[[${cart.productName}]]</td>
					<td>[[${cart.productDescription}]]</td>
					<td>[[${cart.productPrice}]]</td>
					<td>
						<div>
							<input class="cart_id" type="hidden" th:value="${cart.cartId}">
							<input type="text" th:value="${cart.cartCnt}">
							<button class="btn bg-danger minus_btn">-</button>
							<button class="btn bg-info plus_btn">+</button>
						</div>
						<a class="btn bg-warning quantity_modify_btn">변경</a>					
					</td>
					<td class="sum">[[${cart.totalPrice}]]</td>
					<td><a class="btn bg-dander cart_delete_btn">삭제</a></td>
				</tr>
			</tbody>
		</table>
		<a class="btn bg-warning purchase_btn">구매</a>
	</div>
	<form action="/cart/update" method="post" class="quantity_update_form">
		<input type="hidden" name="cartId" class="update_cartId">
		<input type="hidden" name="cartCnt" class="update_cartCnt">
		<input type="hidden" name="userId" th:value="${session.userId}">
	</form>	
	
	<form action="/cart/delete" method="post" class="cart_delete_form">
		<input type="hidden" name="cartId" class="delete_cartId">
	</form>
	
	<form action="/purchase/insert" method="get" class="purchase_form">
		<input type="hidden" name="userId" th:value=${session.userId}>
		<input type="hidden" name="cartIdList" class="insert_cartId">
	</form>
	
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/templatemo.js"></script>
    <script src="/js/custom.js"></script>
    <script>
    $(document).ready(function() {
	    $(".plus_btn").on("click", function(){
	    	let quantity = $(this).parent("div").find("input[type=text]").val();
	    	$(this).parent("div").find("input[type=text]").val(++quantity);
	    });
	    $(".minus_btn").on("click", function(){
	    	let quantity = $(this).parent("div").find("input[type=text]").val();
	    	if(quantity > 1){
	    		$(this).parent("div").find("input[type=text]").val(--quantity);		
	    	}
	    });
	    $(".quantity_modify_btn").on("click", function(){
	    	let id = $(this).parent("td").find("input[type=hidden]").val();
	    	let cartCnt = $(this).parent("td").find("input[type=text]").val();
	    	$(".update_cartId").val(id);
	    	$(".update_cartCnt").val(cartCnt);
	    	$(".quantity_update_form").submit();
	    });
	    $(".cart_delete_btn").on("click", function(){
            let cartId = $(this).closest("tr").find(".cart_id").val();
            console.log(cartId)
            $(".delete_cartId").val(cartId);
            $(".cart_delete_form").submit();
	    });
	    $(".purchase_btn").on("click", function(){
            let selectedCartIds = [];
            $("input[name='selectCartList']:checked").each(function(){
                selectedCartIds.push($(this).closest("tr").find(".cart_id").val());
            });
            $("input[name=cartIdList]").val(selectedCartIds);
            if(selectedCartIds.length > 0){
                $(".purchase_form").submit();
            } else {
                alert("장바구니에서 구매할 상품을 선택해주세요.");
            }
        });
    });
    </script>
</body>
</html>