<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/include/head :: header}"></head>
<body>
    <!-- Start Top Nav -->
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
    <!-- Close Top Nav -->


    <!-- Header -->
    <div th:replace="~{/include/navbar :: navbar}"></div>
    <!-- Close Header -->
    
	<div class="bg width-100">
		<div class="container bg-white opacity-9 pb-80">
			<div class="text-center"><img alt="" src="/img/cart2.png" style="height:200px"></div>
			<table class="table">
				<thead>
					<tr class="bg-success text-white text-center">
						<th class="table-width-8">선택</th>
						<th>이미지</th>
						<th class="width-30">상품</th>
						<th>가격</th>
						<th>
						<i class="fa-solid fa-circle-minus"></i>
							개수
						</th>
						<th>총 가격</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cart : ${cartList}">
						<td class="text-center">
							<input type="checkbox" name="selectCartList" th:value="${cart.cartId}">
						</td>
						
						<td>
							<img style="width:100px" th:src="@{/file/{id}(id=${cart.ImageId})}">
						</td>
						
						<td class="text-left">
							<span class="fw-bold">[[${cart.productName}]]</span>
							<br>
							[[${cart.productDescription}]]
						</td>
						
						<td class="text-center"  data-th-text="${#numbers.formatInteger(cart.productPrice, 3, 'COMMA') + '원'}"></td>
						
						<td class="table-width-20">
							<div class="d-flex">
								<input class="cart_id" type="hidden" th:value="${cart.cartId}">
								<button class="btn text-white fw-bold bg-danger minus_btn">-</button>
								<input type="text" class="text-center form-control" th:value="${cart.cartCnt}">
								<button class="btn text-white fw-bold bg-info plus_btn">+</button>
							</div>
							<div class="d-flex justify-content-center">
								<a class="mt-3 btn bg-warning text-white fw-bold quantity_modify_btn">변경하기</a>
							</div>					
						</td>
						
						<td class="sum text-center" data-th-text="${#numbers.formatInteger(cart.totalPrice, 3, 'COMMA') + '원'}"></td>
						
						<td class="text-center">
							<a class="btn bg-danger text-white cart_delete_btn">삭제</a>
						</td>
						
					</tr>
				</tbody>
			</table>
			
			<div class="d-flex justify-content-center">
				<a class="btn bg-success text-white fw-bold purchase_btn">구매</a>
			</div>
		</div>
		
	</div>
	
	<form action="/cart/update" method="post" class="quantity_update_form">
		<input type="hidden" name="cartId" class="update_cartId">
		<input type="hidden" name="cartCnt" class="update_cartCnt">
		<input type="hidden" name="userId" th:value="${session.userId}">
	</form>	
	
	<form action="/cart/delete" method="post" class="cart_delete_form">
		<input type="hidden" name="cartId" class="delete_cartId">
	</form>
	
	<form action="/purchase/insert" method="get" class="purchase_form">
		<input type="hidden" name="userId" th:value=${session.userId}>
		<input type="hidden" name="cartIdList" class="insert_cartId">
	</form>
	
    <!-- Start Footer -->
	<div th:replace="~{/include/footer :: footer}"></div>
    <!-- End Footer -->
	
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/templatemo.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script>
    $(document).ready(function() {
	    $(".plus_btn").on("click", function(){
	    	let quantity = $(this).parent("div").find("input[type=text]").val();
	    	$(this).parent("div").find("input[type=text]").val(++quantity);
	    });
	    $(".minus_btn").on("click", function(){
	    	let quantity = $(this).parent("div").find("input[type=text]").val();
	    	if(quantity > 1){
	    		$(this).parent("div").find("input[type=text]").val(--quantity);		
	    	}
	    });
	    $(".quantity_modify_btn").on("click", function(){
	    	let id = $(this).closest("td").find("input.cart_id").val();
	    	let cartCnt = $(this).closest("td").find("input[type=text]").val();
	    	console.log(cartCnt);
	    	$(".update_cartId").val(id);
	    	$(".update_cartCnt").val(cartCnt);
	    	$(".quantity_update_form").submit();
	    });
	    $(".cart_delete_btn").on("click", function(){
            let cartId = $(this).closest("tr").find(".cart_id").val();
            console.log(cartId)
            $(".delete_cartId").val(cartId);
            $(".cart_delete_form").submit();
	    });
	    $(".purchase_btn").on("click", function(){
            let selectedCartIds = [];
            $("input[name='selectCartList']:checked").each(function(){
                selectedCartIds.push($(this).closest("tr").find(".cart_id").val());
            });
            $("input[name=cartIdList]").val(selectedCartIds);
            if(selectedCartIds.length > 0){
                $(".purchase_form").submit();
            } else {
                alert("장바구니에서 구매할 상품을 선택해주세요.");
            }
        });
    });
    </script>
</body>
</html>