<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head :: header}"></head>

<body>
    <!-- Start Top Nav -->
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
    <!-- Close Top Nav -->


    <!-- Header -->
    <div th:replace="~{/include/navbar :: navbar}"></div>
    <!-- Close Header -->
    
	<div class="container">
		<h2 class="text-center m-5">[구매내역]</h2>
		<table class="table table-hover mb-5">
			<thead>
				<tr class="bg-success text-white">
					<th>주문번호</th>
					<th>아이디</th>
					<th>배송지</th>
					<th>주문일자</th>
					<th>배송상태</th>
					<th>총가격</th>
				</tr>
			</thead>
			<tbody>
					<tr th:each="purchase : ${purchaseList}" th:onclick="goToDetailPage([[${purchase.purchaseId}]])" style="cursor: pointer;">
						<td>[[${purchase.purchaseId}]]</td>
						<td>[[${session.userId}]]</td>
						<td>[[${purchase.delivery}]]</td>
						<td th:text="${#dates.format(purchase.purchaseDate, 'yy/MM/dd')}"></td>
						<td>[[${purchase.purchaseState}]]</td>
						<td>[[${purchase.totalPrice}]]</td>		
					</tr>
			</tbody>
		</table>
	</div>
	
   	<!-- Start Footer -->
	<div th:replace="~{/include/footer :: footer}"></div>
    <!-- End Footer -->
	
	<script>
	    function goToDetailPage(purchaseId) {
	        window.location.href = "/purchase/list/" + purchaseId;
	    }
	</script>
</body>
</html>