section.notice {
  padding: 80px 0;
}

.btn_write{
	 float: right;
}
.board-table th {
  text-align: center;
}
.page-title {
  margin-bottom: 60px;
}
.page-title h1 {
  font-size: 18px;
  color: #5b5b5b;
  font-weight: 300;
}
.page-title h2 {
  font-size: 24px;
  color: #5b5b5b;
  font-weight: 300;
}
.page-title h3 {
  font-size: 32px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
  font-size: 16px;
}
.board-table tbody th {
  padding-left: 28px;
  padding-right: 28px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}
.board-table {
  
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 200px;
}
.board-table .th-id {
  width: 200px;
}
.board-table .th-title {
  width: 500px;
}
.board-table th, .board-table td {
  padding: 14px 0;
}
.board-list{
	width: 1100px;
  margin: 0 auto;
}
.container {
  width: 1100px;
   margin-left: auto;
    margin-right: auto;
}
#pull-right{
	  margin-left: auto;
    margin-right: auto;
	
}
