<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head :: header}"></head>

<body>
 	<!-- Start Top Nav -->
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
    <!-- Close Top Nav -->


    <!-- Header -->
    <div th:replace="~{/include/navbar :: navbar}"></div>
    <!-- Close Header -->
	
	<div class="bg">
		<div class="container p-5 border width-50 bg-white opacity-9 border-3 border-success">
			<h2 class="text-center my-5">[리뷰쓰기]</h2>
			<form class="form" th:action="@{/review/insert}" method="post" enctype="multipart/form-data">
				<input class="form-label" type="hidden" name="productId" th:value=${productId}>
				<div class="d-flex my-3">
					<select class="form-select border-success border-3 width-15" id="rate" name="rate" required>
						<option th:value=1>🌟</option>
						<option th:value=2>🌟🌟</option>
						<option th:value=3>🌟🌟🌟</option>
						<option th:value=4>🌟🌟🌟🌟</option>
						<option th:value=5>🌟🌟🌟🌟🌟</option>
					</select>
				</div>
				
				<div class="d-flex">
					<textarea class="form-control border border-success border-3 fw-bold" name="content" rows="10" cols="100"></textarea>
				</div>
				
				<div class="input-group my-3 width-50">
					<input type="file" name="file" class="form-control border-success border-3" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
				</div>
				
				<div class="d-flex justify-content-center">
					<input type="submit" value="글 쓰기" class="btn bg-success text-white fw-bold width-30 me-5">
					<input type="reset" value="취소" class="btn bg-success text-white fw-bold width-30">
				</div>
			</form>
		</div>
	</div>
    
    <!-- Start Footer -->
	<div th:replace="~{/include/footer :: footer}"></div>
    <!-- End Footer -->
</body>
</html>