<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>NO</td>
				<td>상품이름</td>
				<td>상품가격</td>
				<td>상품설명</td>
				<td>평점</td>
				<td>리뷰내용</td>
				<td>사진</td>
				<td>삭제</td>
				<td>수정</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="review : ${reviewList}">
				<td>[[${review.reviewId}]]</td>
				<td>[[${review.productName}]]</td>
				<td>[[${review.productPrice}]]</td>
				<td>[[${review.productDescription}]]</td>
				<td>[[${review.rate}]]</td>
				<td>[[${review.content}]]</td>
				<td th:if="${review.reviewImageName!=null}"><img th:src="@{/review/file/{id}(id=${review.reviewImageId})}"></td>
				<td><a th:href="@{/review/delete(reviewId=${review.reviewId})}">글삭제</a></td>
				<td><a th:href="@{/review/update/{reviewId}(reviewId=${review.reviewId})}">글수정</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>