<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head :: header}"></head>
<body>
 	<!-- Start Top Nav -->
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
    <!-- Close Top Nav -->


    <!-- Header -->
    <div th:replace="~{/include/navbar :: navbar}"></div>
    <!-- Close Header -->
	
	<div class="bg3 p-5">
		<div class="container bg-white rounded opacity-9">
			
			<div class="text-center mb-5 p-5">	
				<img alt="" src="/img/review.png" style="height:100px;">
			</div>
			
			<form class="p-5" th:object="${review}" th:action="@{/review/update}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="productId" th:value=${review.productId} readonly>
				<select class="form-select mb-3 border-success border-3 width-15" id="rate" name="rate" required>
					<option th:value=1>🌟</option>
					<option th:value=2>🌟🌟</option>
					<option th:value=3>🌟🌟🌟</option>
					<option th:value=4>🌟🌟🌟🌟</option>
					<option th:value=5>🌟🌟🌟🌟🌟</option>
				</select>
				<textarea class="form-control border border-success mb-3 border-3 fw-bold" name="content" rows="10" cols="100">[[${review.content}]]</textarea>
				
			
				<img class="border border-success border-3 mb-3" th:src="@{/review/file/{id}(id=${review.reviewImageId})}" style="width:200px;">
				<span>[[${review.reviewImageName}]]</span>
				<input class="form-control border-success border-3 mb-3 width-50" type="file" name="file">
				
				<input type="hidden" name="reviewId" th:value="${review.reviewId}">
				<input type="hidden"  name="reviewImageId" th:value="${review.reviewImageId}">
				
				<div class="d-flex justify-content-center">
					<input class="btn btn-outline-success mx-3 width-15" type="submit" value="글 쓰기">
					<input class="btn btn-outline-danger mx-3 width-15" type="reset" value="취소">
				</div>
			</form>
		</div>
	</div>
    
    <!-- Start Footer -->
	<div th:replace="~{/include/footer :: footer}"></div>
    <!-- End Footer -->
</body>
</html>