<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/community/list.css}">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/templatemo.css}">

<link rel="stylesheet" th:href="@{/css/community/paging.css}">


<link rel="shortcut icon" type="image/x-icon"
	th:href="@{static/img/favicon.ico}">




<head th:replace="~{/include/head :: header}">

</head>
<body>
	<!-- Start Top Nav -->
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
	<!-- Close Top Nav -->


	<!-- Header -->
	<div th:replace="~{/include/navbar :: navbar}"></div>
	<!-- Close Header -->
	<section class="notice">
		<div class="page-title">
			<div class="container">
				<h3>게시글</h3>
				<hr>
				<h2>전체글보기</h2>
				<h1>[[${bbsCount}]]개의 글</h1>

				<a th:href="@{/community/write}">
				<button type="button" class="btn_write"><img src="https://ssl.pstatic.net/static/blog/img_write_btn.png" width="86" height="37" alt="글쓰기">
					</button>
				</a>
			</div>
		</div>
		<div id="board-list">
			<div class="container">
				<table class="board-table">
					<thead>
						<tr>
							<th class="th-num">NO</th>
							<th class="th-id">아이디</th>
							<th class="th-title">제목</th>
							<th class="th-date">작성일자</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="community, stat : ${communityList}" id="table_list">
							<td th:text="${stat.count}"></td>
							<td><a
								th:href="@{/community/mylist?userId={userId}(userId=${community.userId})}">[[${community.userId}]]</a></td>
							<td><a th:href="@{/community/__${community.writeId}__}">
									<span th:text="${community.writeTitle}"></span>[<span th:text="${community.replyCnt}"></span>]</a></td>
									
							<td th:text="${#dates.format(community.writeDate, 'yy/MM/dd')}"></td>
							
						</tr>
					</tbody>
				</table>

				<div th:replace="~{/include/paging :: paging}"></div>

			
				<form th:action="@{/community/search}" method="get">
						<div id="pull-right" style="margin-bottom: 10px;">
							<div class="inputbar">
								<input type="text" name="keyword">
							</div>
							<input type="submit" value="검색">
						</div>
					</form>
			</div>
		</div>
		</div>
		</div>
		</div>
	</section>
	<!-- Start Footer -->
	<div th:replace="~{/include/footer :: footer}"></div>
	<!-- End Footer -->
</body>
</html>
