<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script
   src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
   integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" th:href="@{/css/community/list.css}">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/templatemo.css}">

<link rel="stylesheet" th:href="@{/css/community/paging.css}">


<link rel="shortcut icon" type="image/x-icon"
   th:href="@{static/img/favicon.ico}">




<head th:replace="~{/include/head :: header}">

</head>
<body>
   <!-- Start Top Nav -->
   <div th:replace="~{/include/body-header :: bodyHeader}"></div>
   <!-- Close Top Nav -->


   <!-- Header -->
   <div th:replace="~{/include/navbar :: navbar}"></div>
   <section id="body">
      <!-- Close Header -->
      <section class="notice">
         <div class="page-title">
            <div class="container">
               <h3><img src="/img/commlogo.png"
                        width="400" ></h3>
               
            </div>
         </div>
         <section id="box1">
            <div id="searchBox1">
               <span>전체</span>
               <span>[<strong>[[${bbsCount}]]</strong>] 개의 글</span>
            </div>
            <div id="writebtn">
               <a th:href="@{/community/write}">
                  <button type="button" class="btn_write">
                     <img src="https://ssl.pstatic.net/static/blog/img_write_btn.png"
                        width="86" height="37" alt="글쓰기">
                  </button>
               </a>
            </div>
         </section>
         <div id="board-list">
            <div class="container">
               <table class="board-table">
                  <thead>
                     <tr>
                        <th class="th-num">NO</th>
                        <th class="th-id">아이디</th>
                        <th class="th-title">제목</th>
                        <th class="th-date">작성일자</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:each="community, stat : ${communityList}" id="table_list">
                        <td th:text="${stat.count}"></td>
                        <td><a
                           th:href="@{/community/mylist?userId={userId}(userId=${community.userId})}">[[${community.userId}]]</a></td>
                        <td style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; <a
                           th:href="@{/community/__${community.writeId}__}"> <span
                              th:text="${community.writeTitle}"></span> &nbsp; [<span
                              th:text="${community.replyCnt}"></span>]
                        </a></td>

                        <td th:text="${#dates.format(community.writeDate, 'yy/MM/dd')}"></td>

                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <section id="box">
            <div id="searchBox">
               
               <form th:action="@{/community/search}" method="get">
                  <input type="search" name="keyword" id="keyword"
                     placeholder="Search here ..."
                     onkeypress="if( event.keyCode == 13 ){fnSearch();}"><i class="fas fa-search"></i>
               </form>
            </div>
            <div id="writebtn">
               <a th:href="@{/community/write}">
                  <button type="button" class="btn_write">
                     <img src="https://ssl.pstatic.net/static/blog/img_write_btn.png"
                        width="86" height="37" alt="글쓰기">
                  </button>
               </a>
            </div>
         </section>
         <div th:replace="~{/include/paging :: paging}"></div>
      </section>
   </section>
   <!-- Start Footer -->
   <div th:replace="~{/include/footer :: footer}"></div>
   <!-- End Footer -->
  <script>
		function handleSearch(event) {
			if (event.keyCode === 13) {
				event.preventDefault();
				performSearch();
			}
		}

		function performSearch() {
			var keyword = $("#keyword").val();
			// 검색어 유효성 검사 등 추가로 필요한 로직을 처리할 수 있습니다.
			// 이 예제에서는 검색어가 유효하다고 가정하고, 해당 검색어를 쿼리 파라미터로 가지고 검색 페이지로 리다이렉션합니다.
			window.location.href = "/community/search?keyword="
					+ encodeURIComponent(keyword);
		}
	</script>
</body>
</html>