<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head :: header}"></head>
<body>
 	<!-- Start Top Nav -->
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
    <!-- Close Top Nav -->


    <!-- Header -->
    <div th:replace="~{/include/navbar :: navbar}"></div>
    <!-- Close Header -->
	<table>
		<thead>
			<tr>
				<th>NO</th>
				<th>아이디</th>
				<th>제목</th>
				<th>작성일자</th>
				<th>내용</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>[[${community.writeId}]]</td>
				<td>[[${community.userId}]]</td>
				<td>[[${community.writeTitle}]]</td>	
				<td th:text="${#dates.format(community.writeDate, 'yy/MM/dd')}"></td>
				<td>[[${community.writeContent}]]</td>								
			</tr>
		</tbody>
	</table>
	<div>
		<a th:href="@{/community/list}"><button type="button" class="btn list">목록</button></a>
		<a th:href="@{/community/update/{writeId}(writeId=${community.writeId}}"><button type="button" class="btn update">수정</button></a>
		<a th:href="@{/community/delete/{writeId}(writeId=${community.writeId}}"><button type="button" class="btn delete">삭제</button></a>
		
	</div>
 <!-- Start Footer -->
	<div th:replace="~{/include/footer :: footer}"></div>
    <!-- End Footer -->
</body>
</html>