<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myapp.cart.dao.ICartRepository">
	
	<select id="selectCartList" parameterType="String" resultType="com.example.myapp.cart.model.Cart">
		SELECT 
			u.user_id as "userId", 
			u.user_name as "userName", 
			p.product_name as "productName", 
			p.product_price as "productPrice", 
			c.cart_cnt as "cartCnt", 
			(p.product_price*c.cart_cnt) as "totalPrice"
		FROM cart c, users u, product p
		WHERE c.product_id = p.product_id
		AND c.user_id = u.user_id
		AND c.user_id = #{userId}
	</select>
	
</mapper>