<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="header">
		<head>
		    <title>Zay Shop eCommerce HTML CSS Template</title>
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		
		    <link rel="apple-touch-icon" th:href="@{/img/apple-icon.png}">
		    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
		
		    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
		    <link rel="stylesheet" th:href="@{/css/custom.css}">
		
		    <!-- Load fonts style after rendering the layout styles -->
		    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
		    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
		</head>
	</th:block>
</html>