@charset "UTF-8";
.pagination {
	margin-top:10px;
	list-style:none;
	display:inline;
	text-align:center;
	align-items: center;
}

.pagination li {
	text-align:center;
	align-items: center;
	display:inline;
	vertical-align:middle;
}
.pagination li a {
	display:-moz-inline-stack;	/*FF2*/
	display:inline-block;
	vertical-align:top;
	padding:4px;
	margin-right:3px;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
	width /**/:26px;
}
.pagination li a:hover, .pagination li a:focus {
	color:#fff;
	border:1px solid #f40;
	background-color:#f40;
}

.pagination li a.now {
	color:#fff;
	background-color:#f40;
	border:1px solid #f40;
}