@charset "UTF-8";
div.ContentBox {
   padding-top: 40px;
    padding-bottom: 29px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    
}
.containerr{
	background-color: #eef2f5;
	width: 650px;
	margin-bottom: 15px;
	height: 80px; 
}


.second{
	width: 650px;
	background-color: white;
	border-radius: 4px;
	height: 80px;
	box-shadow: 10px 10px 5px #aaaaaa;
}
.third{
	margin: 15px;
	height: 60px;
}
.d-flex{
	margin:10px;
	
}
.text1{
	margin: 30px;
	font-size: 24px;
    font-weight: 500;
    color: #56575b;
}
.text2{
	font-size: 20px;
    font-weight: 500;
    margin-left: 60px;
    color: #56575b;
}
.text3{
	font-size: 18px;
    font-weight: 500;
    margin-right: 4px;
    color: #828386;
    float: right;
    
}
.text3o{
	color: #00a5f4;

}
#body{
	background: url(/img/commwrite.jpg)  no-repeat center;
	background-size: cover;
}
.container {
  width: 1100px;
   margin-left: auto;
    margin-right: auto;
}
.page-title h3 {
  font-size: 32px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  
}
.page-title {
  margin-bottom: 60px;
}
#viewlogo{
	 margin-left: auto;
    margin-right: auto;
}
section.notice {
  padding-top: 80px;
  padding-bottom: 20px;
  padding-right:0;
  padding-left:0;
    width: 1100px;
  margin-left: auto;
  margin-right: auto;
 background-color : rgb(255,255,255,0.96);
}
.Box{
	margin-bottom: 10px;
}
#Title{
	font-size: 32px;
line-height: 48px;}

#writebody{
	margin-top: -30px;
	width: 900px;
	margin-left: auto;
  margin-right: auto;
}

.infos{
	margin-left:10px;
}
#content{
	height: 400px;
}
#writer{
	float:right;
}
