@charset "UTF-8";
div.ContentBox {
   padding-top: 40px;
    padding-bottom: 29px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    
}
.Box{
	margin-bottom: 10px;
}
#Title{
	font-size: 32px;
line-height: 48px;}

section.notice {
  padding: 80px 0;
}

#post-body{
	padding-top: 40px;
    padding-bottom: 29px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    height: 5
	
}
.infos{
	margin-left:10px;
}
#content{
	height: 400px;
}
#writer{
	float:right;
}
