<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<form th:action="@{/category/insert}" method="post">
			<div>카테고리 입력</div>
			<div>
				<input type="text" name="categoryName">
			</div>
			<div>
				<input type="submit" value="입력">
			</div>
		</form>
	</div>
	<div>
		<form th:action="@{/category/delete}" method="post">
			<div>카테고리 삭제</div>
			<div th:each="list : ${categoryList}">
				<label><input type="checkbox" name="categoryId" th:value="${list.categoryId}">[[${list.categoryName}]]</label>
			</div>
			<input type="submit" value="Submit">
		</form>
	</div>
	
	
	<div>
		<form th:action="@{/product/insert}" method="post" enctype="multipart/form-data">
			<div>상품 추가</div>
			<span th:each="list : ${categoryList}">
				<label><input type="radio" name="categoryId" th:value="${list.categoryId}">[[${list.categoryName}]]</label>
			</span>
			<div>
				<label><input type="text" name="productName">상품이름</label>
			</div>
			<div>
				<label><input type="text" name="productPrice">상품가격</label>
			</div>
			<div>
				<label><input type="text" name="productStock">상품재고</label>
			</div>
			<div>
				<label><input type="text" name="productDescription">상품설명</label>
			</div>
			<div>
				<label><input type="file" name="file">파일</label>
			</div>
			<input type="submit" value="Submit">
		</form>
	</div>
	
	<div>
		<form th:action="@{/product/delete}" method="post">
			<div>상품 삭제</div>
			<table>
			<thead>
			<tr>
				<td>상품 이름</td>
				<td>카테고리</td>
				<td>상품가격</td>
				<td>등록 날짜</td>
				<td>이미지</td>
				<td>사용 유무</td>
			</tr>
			</thead>
			<tbody>
			<tr th:each="pList : ${productList}">
				<td>
					<label><input type="checkbox" name="productId" th:value="${pList.productId}">[[${pList.productName}]]</label>
				</td>
				<td>
					<span>[[${pList.categoryName}]]</span>
				</td>
				<td>
					<span>[[${pList.productPrice}]]</span>
				</td>
				<td>
					<span>[[${pList.productDate}]]</span>
				</td>
				<td style="height:100px; widht:100px">
					<img th:src="@{/file/{id}(id=${pList.imageId})}">
				</td>
				<td>
					<span th:if="${pList.productState==0}">사용중</span>
					<span th:if="${pList.productState==1}">사용불가</span>
				</td>
			</tr>
			</tbody>
			</table>
			<input type="submit" value="Submit">
		</form>
	</div>
	<script>
      const body = document.querySelector('body');
      const modal = document.querySelector('.modal');
      const btnOpenPopup = document.querySelector('.btn-open-popup');

      btnOpenPopup.addEventListener('click', () => {
        modal.classList.toggle('show');

        if (modal.classList.contains('show')) {
          body.style.overflow = 'hidden';
        }
      });

      modal.addEventListener('click', (event) => {
        if (event.target === modal) {
          modal.classList.toggle('show');

          if (!modal.classList.contains('show')) {
            body.style.overflow = 'auto';
          }
        }
      });
    </script>
</body>
</html>