<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.myapp.community.dao.ICommunityRepository">

	<select id="selectArticleListByCommunity"
		parameterType="hashmap"
		resultType="com.example.myapp.community.model.Community">
	<![CDATA[
		SELECT 
			write_id 			AS "writeId", 
			user_id				AS "userId",	
			write_title			AS "writeTitle",
			write_date			AS "writeDate"
		 FROM (SELECT 
				write_id, user_id, write_title, write_date, 
				rownum AS rnum
			FROM (
				SELECT * FROM community
				ORDER BY write_id DESC)
)
		 WHERE rnum BETWEEN #{start} AND #{end}
		
	]]>
	</select>


	<select id="selectArticle" parameterType="hashmap"
		resultType="com.example.myapp.community.model.Community">
	<![CDATA[
		SELECT 
			write_id					AS "writeId", 
			user_id						AS "userId", 
			write_title					AS "writeTitle",
			write_date					AS "writeDate",
			 write_content				AS "writeContent" 
		FROM community
		WHERE write_id=#{writeId}
	]]>
	</select>


	<select id="selectMaxArticleNo" parameterType="int"
		resultType="int">
	<![CDATA[
		SELECT 
			NVL(MAX(write_id),0) AS "articleNo"
		FROM community
	]]>
	</select>


	<insert id="insertArticle"
		parameterType="com.example.myapp.community.model.Community">
	<![CDATA[
		INSERT INTO 
		COMMUNITY 
		(write_id, write_date, write_title, write_content, user_id)  
		VALUES 
			(community_seq.nextval, SYSDATE, #{writeTitle}, #{writeContent}, #{userId} )
	]]>
	</insert>





	<update id="updateArticle"
		parameterType="com.example.myapp.community.model.Community">
	<![CDATA[
		UPDATE 
			community 
		SET 
			 write_title=#{writeTitle}, 
			write_content=#{writeContent}, write_date=SYSDATE 
		WHERE 
			write_id=#{writeId}
	]]>
	</update>


		<delete id="deleteArticleByWriteId" parameterType="com.example.myapp.community.model.Community">
    <![CDATA[
        DELETE FROM community 
        WHERE write_id=#{writeId}
    ]]>
</delete>
	
	

<select id="selectTotalArticleCountByCommunity" parameterType="int" resultType="int">
	<![CDATA[
		SELECT COUNT(write_id) AS "count"
		FROM community
	]]>
	</select>

<select id="selectTotalArticleCountByKeyword" parameterType="string" resultType="int">
	<![CDATA[
		SELECT 
			COUNT(*) FROM community
		WHERE 
			write_title LIKE #{keyword}
		    		OR 
		    		write_content LIKE #{keyword}
	]]>
	</select> 

	<select id="searchListByContentKeyword" parameterType="hashmap"
		resultType="com.example.myapp.community.model.Community">
	<![CDATA[
		SELECT 
			write_id 				AS "writeId", 
			user_id					AS "userId", 
			write_title				AS "writeTitle", 
			write_date				AS "writeDate"
			
	    FROM (
	    	SELECT 
	    		write_id, 
	    		user_id, 
	    		write_title, 
	    		write_date, 
	    		write_content,
	    		rownum AS rnum
	    	FROM (
	    		SELECT * FROM community
	    		WHERE
	    			write_title LIKE #{keyword}
		    		OR 
		    		write_content LIKE #{keyword}
	    	)
	    )
	     WHERE rnum BETWEEN #{start} AND #{end}	   
	]]>
	</select>
	
	<select id="selectTotalArticleCountBymylist" parameterType="string" resultType="int">
	<![CDATA[
		SELECT 
			COUNT(*) FROM community
		WHERE user_id=#{userId}
	]]>
	</select> 

	<select id="searchListByContentmylist" parameterType="hashmap"
		resultType="com.example.myapp.community.model.Community">
	<![CDATA[
		SELECT 
			write_id 				AS "writeId", 
			user_id					AS "userId", 
			write_title				AS "writeTitle", 
			write_date				AS "writeDate"
			
	    FROM (
	    	SELECT 
	    		write_id, 
	    		user_id, 
	    		write_title, 
	    		write_date, 
	    		write_content,
	    		rownum AS rnum
	    	FROM (
	    		SELECT * FROM community
	    		WHERE user_id=#{userId}
	    	)
	    )
	     WHERE rnum BETWEEN #{start} AND #{end}	   
	]]>
	</select>
</mapper>	