<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.myapp.community.dao.IReplyRepository">



	<select id="replyList" parameterType="int"
		resultType="com.example.myapp.community.model.ReplyVO">
		<![CDATA[ select 
			rno 			AS 			"rno", 
			user_id				AS 		"userId",	
			reply_content			AS "replyContent",
			regDate			AS 			"regDate",
			write_id			AS 			"writeId"
		from reply
		WHERE write_id=#{writeId}
		order by  rno desc]]>
	</select>

	<!-- 댓글 작성 -->
	<insert id="replyWrite"
		parameterType="com.example.myapp.community.model.ReplyVO">
		<![CDATA[insert into reply(rno, write_id, user_id, reply_content, regDate)
		values(reply_seq.nextval, #{writeId}, #{userId}, #{replyContent}, SYSDATE)]]>
	</insert>

	<!-- 댓글 수정 -->
	<update id="replyModify"
		parameterType="com.example.myapp.community.model.ReplyVO">
		update reply set
		user_id = #{userId},
		reply_content = #{replyContent}
		where rno = #{rno}
		and write_id = #{writeId}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="replyDelete"
		parameterType="com.example.myapp.community.model.ReplyVO">
		delete from reply
		where rno = #{rno}
		and write_id = ${writeId}
	</delete>

</mapper>	