.pay {
	height:fit-content;
}

.paybtn {
	width: 300px;
}


.text-center{
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

tr {
	vertical-align: middle;	
}

.productName {
	text-align: left;
}

.okbtn {
	width: 100px;
	height: 50px;
	padding: 12px;
}

.table-width-8 {
	width: 8%;
}

.table-width-20 {
	width: 20%;
}

.width-5 {
	width: 5%;
}

.width-15 {
	width: 15%
}

.width-30 {
	width: 30%
}

.width-50 {
	width: 50%
}

.width-30 {
	width: 30%
}

.width-100 {
	width: 100%
}

.ms-6 {
    margin-left: 3.5rem!important;
}

.bg {
	background-image: url("/img/reivew.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.bg2 {
	background-image: url("/img/pho.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.bg2 {
	background-image: url("/img/pho.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.bg3 {
	background-image: url("/img/나루토.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.bg3 {
	background-image: url("/img/호시노배추.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.bg4 {
	background-image: url("/img/bbb.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.bg5 {
	background-image: url("/img/ccc.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

.opacity-9 {
	opacity: 0.9
}

.opacity-95 {
	opacity: 0.95
}

.opacity-7 {
	opacity: 0.75
}

.opacity-8 {
	opacity: 0.85
}

.py-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.pb-80 {
	padding-bottom: 80px;
}

footer {
	position: absolute;
	left:0;
	right:0;
}

.he-2 {
	height: 200px;
}

.he-15 {
	height: 150px;
}
.hep-100 {
	height: 100%;
}