<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head :: header}">
<title>비밀번호 찾기</title>
</head>

<body>
	<!-- Start Top Nav -->
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
	<!-- Close Top Nav -->

	<!-- Header -->
	<div th:replace="~{/include/navbar :: navbar}"></div>
	<!-- Close Header -->

	<div class="container my-5">
		<h2 class="text0-center mb-5">[비밀번호 찾기]</h2>

		<div style="width:50%" class="container border border-success p-5">
			<form th:action="@{/user/sendTemporaryPassword}" method="post" class="form-horizontal">
				<div class="form-group">
					<label class="control-label" for="email">이메일</label>
					<div>
						<input type="email" name="userEmail" id="email"	class="form-control" placeholder="Email" aria-describedby="basic-addon1" required>
					</div>
				</div>
				<div class="form-group mt-3 text-right">
					<input type="submit" class="btn btn-success fw-bold" value="임시 비밀번호 발송">
				</div>
			</form>
		</div>
	</div>

	<!-- Start Footer -->
	<div th:replace="~{/include/footer :: footer}"></div>
	<!-- End Footer -->

	<!-- Start Script -->
	<script src="/js/jquery-1.11.0.min.js"></script>
	<script src="/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/templatemo.js"></script>
	<script src="/js/custom.js"></script>
	<!-- End Script -->
</body>
</html>
