<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>로그인</title>

<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- favicon 설정-->
		<link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/favicon/apple-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicon/apple-icon-60x60.png}">
<link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/favicon/apple-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="76x76" th:href="@{]/img/favicon/apple-icon-76x76.png}">
<link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/favicon/apple-icon-114x114.png}">
<link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/favicon/apple-icon-120x120.png}">
<link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/favicon/apple-icon-144x144.png}">
<link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/favicon/apple-icon-152x152.png}">
<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicon/apple-icon-180x180.png}">
<link rel="icon" type="image/png" sizes="192x192" th:href="@{/img/favicon/android-icon-192x192.png}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon/favicon-96x96.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon/favicon-16x16.png}">
<link rel="manifest" th:href="@{/img/favicon/manifest.json}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" th:content="@{/img/favicon/ms-icon-144x144.png}">
<meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/community/paging.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/slick-theme.css}">

<style>
.login-bg{
	background-image: url("/img/userbackground4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.input-form {
	max-width: 680px;
	margin-top: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}
</style>
</head>
<body>
	<!-- Start Top Nav -->
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
    <!-- Close Top Nav -->

    <!-- Header -->
    <div th:replace="~{/include/navbar :: navbar}"></div>
    <!-- Close Header -->

	<div class="login-bg p-5">
		<div class="container">
			<div class="input-form-backgroud row">
				<div class="input-form col-md-11 mx-auto p-5 bg-white opacity-9">
					<div class="text-center mb-5">	
						<img alt="" src="/img/login.png" style="height:100px;">
					</div>
					<form th:action="@{/user/login}" th:object="${user}" method="post"
						class="validation-form" id="joinForm" novalidate>
						<div class="row">
							<div class="col-md-12 mb-3">
								<label for="user_id" class="fw-bold">아이디</label> <input type="text"
									class="form-control" id="user_id" name="userId"
									placeholder="아이디" value="" required>
							</div>
							<div class="col-md-12 mb-3">
								<label for="user_pwd" class="fw-bold">비밀번호</label> <input type="password"
									class="form-control" id="user_pwd" name="userPwd"
									placeholder="비밀번호" value="" required>
								<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
								<a th:href="@{/user/findPwd}" class="font-weight-bold">Forgot
									your password?</a>
								<hr class="mb-4">
								<div th:if="${message}" class="alert alert-danger" role="alert"
									th:text="${message}"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								<button type="submit"
									class="mb-4 btn btn-primary btn-lg btn-block">로그인</button>
							</div>
						</div>
					</form>
					<a th:href="@{/user/join}"><button
							class="mb-4 btn btn-success btn-lg btn-block">회원가입</button></a> <a
						href="/"><button class="mb-4 btn btn-success btn-lg btn-block">홈으로</button></a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Start footer -->
	<div class="mt-3" th:replace="~{/include/footer :: footer}"></div>
	<!-- End footer -->
    
    <!-- Start Script -->
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/templatemo.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <!-- End Script -->
	
</body>

</html>